.map {
  margin: auto;
  width: 100%;
  height: 90vh;
}
button {
  background-color: #625f9c;
  border: 1px solid #625f9c;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
  width: auto;
  padding: 7px 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.hide {
  display: none;
}
