<div style="text-align:center">
  <div class="map" #mapElement></div>
  <div id="draw-buttons">
    <img src="assets/point.png" (click)="draw('marker')"/>
    <img src="assets/polygon.png" (click)="draw('polygon')"/>
    <img src="assets/square.png" (click)="draw('square')"/>
    <img src="assets/line.png" (click)="draw('polyline')"/>
    <img src="assets/circle.png" (click)="draw('circle')"/>
    <img src="assets/cat.png" (click)="draw('cat')"/>
    <img src="assets/pan.png" (click)="draw('pan')"/>
    <img src="assets/save.png" (click)="draw('save')"/>
  </div>
</div>
